<div class="presentation">
  <section class="media">
    <h3 class="media-heading">
      GrayHats & ATDFiWare IdM
    </h3>
    <span>
      Welcome to the Identity Manager of GrayHats & ATDFiWare project.
    </span>
    <p>
      The objective of this project is to integrate GrayHats & ATDFiWare FIWARE platform. The action is coordinated by GrayHats and ATDFiware.
    </p>
    <footer>
      <a href="/sign_up/" class="btn btn-default sign_up">
      Sign up
      </a>
    
      <a target="_blank" href="https://ec.europa.eu/inea/en/connecting-europe-facility/cef-telecom/2017-es-ia-0042" class="btn btn-default">Check project information</a>
    </footer>
  </section>
</div>
